<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% layout('./layout/page.ejs') %>
<h1><%= title %></h1>
<img src="<%= picture %>" alt="Чай" style="width: 500px; height: auto;" width ="20"/>
<h4>Состав: <%=desc%></h4>
</body>
</html>
