body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img {
  width: 500px;
  height: 150px;
}

.fancy-text {
  text-align: center;
  font-family: 'Georgia', serif; /* Красивый шрифт */
  font-size: 3rem; /* Увеличенный размер */
  color: #e8f0e9; /* Яркий цвет */
  margin-top: 30px; /* Отступ сверху */
  letter-spacing: 2px; /* Расстояние между буквами */
}
.elegant-text {
  text-align: center;
    font-family: 'Georgia', serif; /* Декоративный шрифт */
    font-size: 1rem; /* Большой размер */
    color: #5d2a02;
    letter-spacing: 3px; /* Расстояние между буквами */
    margin-top: 20px;
}


bodys {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 1; /* Прозрачность фона (настройте по желанию) */
}