body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img {
  width: 500px;
  height: 150px;
}

.fancy-text {
  text-align: center;
  font-family: 'Georgia', serif; /* Красивый шрифт */
  font-size: 3rem; /* Увеличенный размер */
  color: #0d6b12; /* Яркий цвет */
  margin-top: 30px; /* Отступ сверху */
  letter-spacing: 2px; /* Расстояние между буквами */
}
.elegant-text {
  text-align: center;
    font-family: 'Georgia', serif; /* Декоративный шрифт */
    font-size: 1rem; /* Большой размер */
    color: #5d2a02;
    letter-spacing: 3px; /* Расстояние между буквами */
    margin-top: 20px;
}


.custom-image {
  position: absolute; /* Указывает, что картинка может быть размещена в конкретном месте */
  top: 200px; /* Расстояние от верхнего края страницы */
  left: 530px; /* Расстояние от левого края страницы */
  width: 400px; 
  height: auto;
}

.custom {
  position: absolute; /* Указывает, что картинка может быть размещена в конкретном месте */
  top: 300px; /* Расстояние от верхнего края страницы */
  left: 50px; /* Расстояние от левого края страницы */
  width: 500px; 
  font-family: 'Georgia', serif; /* Декоративный шрифт */
    font-size: 1,5rem; /* Большой размер */
    color: #5d2a02;
    letter-spacing: 1px; /* Расстояние между буквами */
    margin-top: 20px;
  
}


.custom1 {
  position: absolute; /* Указывает, что картинка может быть размещена в конкретном месте */
  top: 300px; /* Расстояние от верхнего края страницы */
  left: 1000px; /* Расстояние от левого края страницы */
  width: 415px; 
  font-family: 'Georgia', serif; /* Декоративный шрифт */
    font-size: 1,5rem; /* Большой размер */
    color: #5d2a02;
    letter-spacing: 1px; /* Расстояние между буквами */
    margin-top: 20px;
  
}

.custom12 {
  
    color: #5d2a02;
    
}


